<mat-toolbar class="too" color="primary">
    <a [routerLink]="['/']">
        <h1>{{title}}</h1>
    </a>
    <a *ngIf="showToolbar" class="button fancy-button" (click)="doLogout()">
        <i class="material-icons">exit_to_app</i>
        Salir
    </a>
</mat-toolbar>
<!--Menús-->
<mat-toolbar *ngIf="showToolbar" color="primary">
    <div fxFlex="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <button mat-menu-item [routerLink]="['/pilot/list']">
            <mat-icon>people</mat-icon>
            Pilotos
        </button>
        <button mat-menu-item [routerLink]="['/truck/list']">
            <mat-icon>commute</mat-icon>
            Camiones
        </button>
        <button mat-menu-item [routerLink]="['/location/list']">
            <mat-icon>home_work</mat-icon>
            Ubicaciones
        </button>
        <button mat-menu-item [routerLink]="['/shp/list']">
            <mat-icon>view_list</mat-icon>
            Envíos
        </button>
        <button mat-menu-item [routerLink]="['/logs']">
            <mat-icon>list</mat-icon>
            Bitácora
        </button>
    </div>
</mat-toolbar>
